#nav_container {
    list-style-type: none;
    margin-bottom: 15px;
}


nav {
    margin: 10px 0px 10px 0px;
    font-family: "Bebas Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    display: block;
}

#main_content {
    margin: auto;
}

li {
    display: inline-block;
}

a {
    display: inline-block;
    text-decoration: none;
    padding: 5px;
}

a:hover {
    color: blue;

}


